<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"60px","bottom":"100px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:60px;padding-bottom:100px">

	<!-- wp:group {"layout":{"type":"constrained","contentSize":"760px"}} -->
	<div class="wp-block-group">

		<!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"32px"}}}} /-->

		<!-- wp:post-content /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
